<br/>
<% if logged_in? %>
	<% if current_user.organization.is_pending == false %>
		<h1>Create a New Event</h1>
		<hr>
		
		<% form_for(@event) do |f| %>
		  <%= f.error_messages %>
		
		  <p>
		    <%= f.label "Event Name: " %>
			<%= f.text_field :name  %>
		  </p>
		
		
		  <p>
		    <%= f.label "Category: " %>
		    <%= f.collection_select(:category_id , Category.find(:all), :id , :name) %>
		  </p> 
		
		  <p>
		    <%= f.label "Choose Location: " %>
		    <%= f.collection_select(:location_id , Location.find(:all, :conditions =>  ["(org_id = ? OR org_id = ? ) AND is_active = ?", current_user.org_id,0, true]), :id , :name) %><br/>
		  </p>
		  <p>
		    <%= f.label :start_at %><br />
		    <%= f.datetime_select :start_at %>
		  </p>
		  <p>
		    <%= f.label :end_at %><br />
		    <%= f.datetime_select :end_at %>
		  </p>
		  <p>
		    <%= f.label "Description: " %><br />
		    <%= f.text_area :description , :size => "40x5" %>
		  </p>
		  <p>
		    <%= f.hidden_field :org_id, :value => current_user.org_id %>
			<%= f.hidden_field :is_multi_day, :value => 0 %>
			<%= f.hidden_field :is_active, :value => 1 %>
			<%= f.hidden_field :priority, :value => 0 %>
		  </p>
		  <p>
		    
		<table>
			<tr>
				<td>
		<%= f.submit 'Create' %></td> <td>| <%= link_to 'Cancel',   :controller => 'events',
								   									:action => 'index',
		 						   									:id => current_user.org_id %></td>
		</tr>
		</table>
			
		  </p>
		<% end %>
	<% else %>
		<b>You need to be accepted as a valid organization by an admin
		<br/> before you can create events.</b>
		
	<% end %>
<% else %>
	You should log in.
<% end %>




